{% extends "catalog.html" %}
{% block content %}
<table cellspacing="5" cellpadding="0" border="0" style="width: 322px; height: 786px;">
<tbody>
<tr>
<td valign="top" align="left" style="height: 100px;">&nbsp;<img height="100" width="70" alt="" src="/static/images/stuff/yongzhen.png" /></td>
<td valign="top" bgcolor="#F6F6F6" align="left" style="padding: 5px;">
<p><strong>Yongzhen Zhang</strong><br />
            Executive Director</p>
<p><a href="mailto:yongzhen.zhang@aalto.fi">yongzhen.zhang@aalto.fi</a></p>

</td>
</tr>
<tr>
<td valign="top" align="left" style="height: 100px;">&nbsp;<img height="100" width="70" src="/static/images/stuff/jun.png" alt="" /></td>
<td valign="top" bgcolor="#F6F6F6" align="left" style="padding: 5px;">
<p><strong>Jun Ma</strong><br />
            Technology Manager</p>

<div style="padding-left:50px"><em><strong>* M&F help desk</strong></em></div>

<p><a href="mailto:jun.ma@aalto.fi">jun.ma@aalto.fi</a></p>
</td>

</tr>


<tr>
        </tr>
</tbody>
</table>

{% endblock %}
