<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "XHTML1-s.dtd" ><html
xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}{% if page_title %}{{ page_title }} - {% endif %} {{ site_name }}{% endblock %}</title>
<meta name="keywords" content="{{ meta_keywords }}" />
<meta name="description" content="{{ meta_description }}" />
<link rel="stylesheet" type="text/css" href="/static/css.css"/>
<link rel="stylesheet" type="text/css" href="/static/highslide/highslide.css"/>
<script type="text/javascript" src="/static/jquery-1.5.min.js"></script>
<script type="text/javascript" src="/static/jquery.vticker-min.js"></script>
<script type="text/javascript" src="/static/scripts.js"></script>
<script type="text/javascript" src="/static/highslide/highslide-with-html.js"></script>
<script type="text/javascript">
$(function(){
$('#myclass').vTicker({
	speed: 500,
	pause: 3000,
	showItems: 6,
	animation: 'fade',
	mousePause: false,
	height: 0,
	direction: 'up'
	});
});
</script>
</head>

<body>
{% block site_wrapper %}{% endblock %}
</body>
</html>
